.about {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--firstColor);
    margin-bottom: auto;
}

.about-title {
    margin-top: 60px;
    font-size: 3rem;;
}

.about-container-one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1200px;
    height: 300px;
    margin-top: 30px;
}

.about-container-two {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    cursor: pointer;
}

.about-container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    clip-path: ellipse(50% 50%);
}

.about-container-img img {
    width: 200px;
}

.about-dropdown {
    position: absolute;
    width: 80%;
    height: auto;
    top: 450px;
    color: var(--firstColor);
    background-color: #202020;
    transform: translate(-50%);
}

.about-dropdown.active{
    opacity: 1;
    visibility: visible;
    border-radius: 15px;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .about-dropdown.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }

  .informations,
  .formations,
  .personal {
    color: var(--firstColor);
  }