.about {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-container {
    margin: 0 30px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--firstColor);
    margin: 1rem 0;
}

.about-container .tab {
    position: relative;
    background: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: hidden;
}

.about-container .tab input {
    appearance: none;
}

.about-container .tab label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.about-container .tab label::after {
    content: '+';
    position: absolute;
    right: 30px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.1);
    transition: transform 1s;
}

.about-container .tab:hover label::after {
    color: var(--secondColor);
}

.about-container .tab input:checked~label::after {
    transform: rotate(135deg);
}

.about-container .tab label h2 {
    width: 100%;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
}

.about-container .tab .content {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.about-container .tab input:checked~.content {
    max-height: 100vh;
}

.about-container .tab .content p {
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}


/* .about-left {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.about-right {
    width: 65%;
} */

.informations,
.formations,
.personal {
    margin: 15px;
    padding: 15px;
    border: 1px solid var(--firstColor);
    background: rgba(255, 255, 255, 0.2);
    color: var(--firstColor);
}

.informations-title,
.formations-title,
.personal-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    color: var(--thirdColor);
    background-color: var(--secondColor);
    padding: 15px;
    margin: 15px;
}

@media screen and (max-width: 1050px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-title {
        font-size: 2.5rem;
    }

    .about-left,
    .about-right {
        width: 65%;
    }

    .informations-title,
    .formations-title,
    .personal-title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .about-title {
        font-size: 2rem;
    }

    .about-left,
    .about-right {
        width: 75%;
    }

    .informations-title,
    .formations-title,
    .personal-title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 340px) {
    .about-title {
        font-size: 1.5rem;
    }

    .about-left,
    .about-right {
        width: 75%;
    }

    .informations,
    .formations,
    .personal {
        padding: 5px;
    }


    .informations-title,
    .formations-title,
    .personal-title {
        font-size: 1rem;
    }
}