.about {
    display: flex;
    flex-direction: column;
}

.about-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--firstColor);
    margin: 1rem 0;
}

.about-container {
    display: flex;
}

.about-left {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.about-right {
    width: 65%;
}

.informations,
.formations,
.personal {
    margin: 15px;
    padding: 15px;
    border: 1px solid var(--firstColor);
    background: rgba(255, 255, 255, 0.2);
    color: var(--firstColor);
}

.informations-title,
.formations-title,
.personal-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    color: var(--thirdColor);
    background-color: var(--secondColor);
    padding: 15px;
    margin: 15px;
}