.games {
    color: var(--firstColor);
    flex: 1;
}

.games-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 5vh;
}

.games-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1040px) {

    .games {
        height: auto;
    }

    .games-container {
        flex-direction: column;
    }
}