.formations {
    overflow-y: scroll;
    height: 100vh;
}

.formations-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin: 0 20px;
}

.formations-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    clip-path: ellipse(50% 50%);
}

.formations-img {
    width: 150px;
}

.formations::-webkit-scrollbar {
	width: 13px;
}
.formations::-webkit-scrollbar-track {
	background-color: #202020;
}
.formations::-webkit-scrollbar-thumb {
	background-color: var(--firstColor);
	border-radius: 15px;
}
.formations::-webkit-scrollbar-thumb {
	background-color: var(--firstColor);
}
.formations::-webkit-scrollbar-thumb:hover {
	background-color: var(--secondColor);
}

.formations-container>* {
    margin: 20px;
    text-align: justify;

}

