.formations {
    overflow-y: scroll;
    height: 100vh;
}

.formations::-webkit-scrollbar {
	width: 15px;
}
.formations::-webkit-scrollbar-track {
	background-color: #202020;
}
.formations::-webkit-scrollbar-thumb {
	background-color: var(--firstColor);
	border-radius: 15px;
}
.formations::-webkit-scrollbar-thumb {
	background-color: var(--firstColor);
}
.formations::-webkit-scrollbar-thumb:hover {
	background-color: var(--secondColor);
}

.formations-container>* {
    margin: 20px;
    text-align: justify;

}

