@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
	--firstColor: #fff;
	--secondColor: #3ef80f;
	--thirdColor: #000;
}

body {

	font-family: 'Poppins', sans-serif;
	background-color: #202020;
}

/* Pour tous les liens */
a {
	text-decoration: none;
}

/* Pour toutes les listes (non ordonnées) */
ul {
	list-style: none;
}

/* Pour tous les boutons de classe .btn */
.btn {
	cursor: pointer;
	padding: 12px 32px;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #222;
	background: var(--secondColor);
	border: 1px solid var(--firstColor);
}

/* Pour les boutons de classe .btn-light */
.btn-light {
	background: transparent;
	color: var(--firstColor);
}

/* Au survol des boutons */
.btn:hover {
	background: rgba(255, 255, 255, 0.2);
	color: var(--firstColor);
	transition: 0.3s;
}