.informations>* {
    margin: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.informations-presentation {
    line-height: 1.7rem;
    text-align: justify;
}

.informations-subtitle,
.informations-contact {
    text-align: center;
}