.website-card {
    margin: 1rem 2rem;
    min-width: 50px;
    max-width: 500px;
    align-self: flex-start;
    text-align: justify;
}

.website-card__link {
    cursor: pointer;
}

.website-card__link>* {
    padding: 15px 0;
}

.website-card__subtitle {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.website-card__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.website-card__img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border: 1px solid var(--firstColor);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.website-card__img:hover {
    transform: scale(1.05);
}

.website-card__technos {
    line-height: 1.4;
    margin: 10px 0;
}

@media screen and (max-width: 1266px) {
    .website-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 70%;
        margin-bottom: 2rem;
    }
}