.game-card {
    margin: 1rem 2rem;
    width: 500px;
    height: 350px;
    text-align: justify;
}

.game-card__link {
    cursor: not-allowed;
}

.game-card__link>* {
    margin: 15px 0;
}

.game-card__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-card__img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 6/4;
    border: 1px solid var(--firstColor);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.game-card__img:hover {
    transform: scale(1.1);
}

.game-card__description {
    line-height: 1.4;
}

@media screen and (max-width: 1040px) {
    .game-card {
        width: 400px;
        height: auto;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 479px) {
    .game-card {
        width: 300px;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 388px) {
    .game-card {
        width: 200px;
        text-align: left;
    }
}