.skills-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 5px 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.skills-cards-img-container {
    display: flex;
    justify-content: center;
    margin: 15px auto 10px;
    border: 1px solid var(--firstColor);
    cursor: wait;
}

.skills-cards-img {
    display: block;
    width: 90%;
    border-radius: 25px;
    box-shadow: 0 8px 1px rgba(255, 255, 255, 0.1),
        0 16px 1px rgba(255, 255, 255, 0.05);
}

.skills-cards-title,
.skills-cards-definition {
    color: var(--thirdColor);
}
.skills-cards-title {
    font-weight: bold;
    font-size: 1.2em;
    margin: 1rem;
}

