.projects {
    overflow: hidden;
    color: var(--firstColor);
}

.projects-img__container {
    width: 100%;
    height: 92vh;
    z-index: -5;
}

.projects-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    filter: brightness(50%);
}

.projects-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-size: 2.5rem;
}

.projectsCard-container {
    position: absolute;
    width: 600px;
    height: 500px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 2rem;
}

.projectsCard__websites-container,
.projectsCard__games-container {
    margin: 1rem;
}

.projectsCard__websites-link,
.projectsCard__games-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.projectsCard__websites-link:hover,
.projectsCard__games-link:hover {
    transform: scale(1.1);
}

.projectsCard__websites-title,
.projectsCard__games-title {
    position: absolute;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.projectsCard__websites-img,
.projectsCard__games-img {
    width: 100%;
    height: 100%;
    border: 1px solid var(--firstColor);
    z-index: -4;
}

@media screen and (max-width: 800px) {
    .projects-container {
        width: 400px;
        height: 700px;
        flex-direction: column;
    }

    .projects-title {
        top: 18%;
    }

    .projectsCard-img {
        width: 50%;
        height: 100%;
    }

}