.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--firstColor);
    margin-bottom: auto;
}

.projects-title {
    font-size: 2.5rem;
    margin-top: 2rem;
}

.projectsCard-container {
    display: flex;
    margin: 0 auto;
    width: 70%;
    min-width: 200px;
    max-width: 1000px;
    height: auto;
}

.projectsCard__websites-container,
.projectsCard__games-container {
    margin: 4rem 2rem;
}

.projectsCard__websites-link,
.projectsCard__games-link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.projectsCard__websites-link:hover,
.projectsCard__games-link:hover {
    transform: scale(1.1);
}

.projectsCard__websites-title,
.projectsCard__games-title {
    position: absolute;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.projectsCard__websites-img,
.projectsCard__games-img {
    width: 100%;
    height: 100%;
    border: 1px solid var(--firstColor);
    border-radius: 10px;
    z-index: -4;
}

@media screen and (max-width: 1040px) {
    .projects-title {
        font-size: 3vw;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 610px) {

    .projects-title {
        font-size: 4vw;
        margin-top: 0rem;
    }

    .projectsCard-container {
        width: 50%;
        flex-direction: column;
    }

    .projectsCard__websites-container,
    .projectsCard__games-container {
        margin: 2rem 2rem;
    }
}