.skills {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--firstColor);
    width: 100vw;
    height: 100vh;
    margin-bottom: auto;
}

.skills-img__container {
    background: url(../../assets/images/programmation.jpg) no-repeat center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(20%);
    z-index: -5;
}

.skills-title {
    margin-top: 6rem;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.skills-container {
    width: 100%;
    height: 100%;
    margin-left: 6rem;
    border: 1px solid var(--firstColor);
}

.skills-container>* {
    margin: 15px 0;
    max-height: 100%;
}

.langage-img {
    width: 85%;
    height: auto;
}