.websites {
    width: 100%;
    height: 100vh;
    color: var(--firstColor);
}

.websites-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 10vh;
}

.websites-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1040px) {

    .websites {
        height: auto;
    }

    .websites-container {
        flex-direction: column;
    }
}