.not-found {
    margin-top: 8%;
    color: var(--firstColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.not-found>* {
    margin-bottom: 2.5rem;
}

.not-found__title {
    text-align: center;
    font-size: 15em;
    font-weight: bold;
    text-shadow: -5px 5px 0px rgba(0, 0, 0, 0.7), -10px 10px 0px rgba(0, 0, 0, 0.4), -15px 15px 0px rgba(0, 0, 0, 0.2);
}

.not-found__text {
    font-size: 2em;
    text-shadow: -5px 5px 0px rgba(0, 0, 0, 0.7);
    font-weight: bold;
}